body{
  margin: 0;
  font-size: 16px;
  line-height: 1.42857;
  color: #333;
  background-color: #f3f3f3;
  .content.sidebar{
    background: #fff;
    padding: 20px;
    .title-page{
      margin-top: 0;
    }
  }
}
.tabs.primary{
  height: 24px;
  margin-bottom: 10px;
  li{
    a{
      padding: 5px 1rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}
.form-text{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  &:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  }
}
.form-submit{
  padding: 5px 10px;
  border-radius: 4px;
  color: #333;
  border-color: transparent;
  background-color: #e6e4e4;
  &:hover{
    background-color: #adadad;
  }
}
#comment-form{
  #edit-subject{
    display: block;
    width: 100%;
  }
  #edit-comment-body{
    .form-textarea{
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      &:focus{
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      }
    }
  }
  #edit-actions{
    #edit-submit,
    #edit-preview{
      padding: 5px 10px;
      border-radius: 2px;
      color: #333;
      border-color: transparent;
    }
    #edit-submit{
      background-color: $primary-color;
      color: #fff;
      &:hover{
        background-color: $primary-color-darker;
      }
    }
    #edit-preview{
      margin-left: 10px;
      background-color: #e6e4e4;
      &:hover{
        background-color: #adadad;
      }
    }
  }
}
.divider-first-sidebar{
  height: 35px;
}
.sidebar_first{
  .region.region-sidebar-first{
    background: #fff;
    padding: 20px;
    #block-system-navigation{
      .menu{
        padding: 0;
        padding-left: 10px;
        li{
          list-style-type: circle;
          list-style-image: none;
          a{
            color: $primary-color;
            &:hover{
              color: $primary-color-darker;
            }
          }
        }
        li.active-trail{
          a{
            color: $primary-color-darker;
            text-decoration: underline;
          }
        }
      }
    }
    .block.block-user{
      .form-text{
        display: block;
        width: 100%;
      }
      ul{
        li{
          a{
            color: $primary-color;
            &:hover{
              color: $primary-color-darker;
            }
          }
        }
      }
    }
  }
}
#user-register-form,
#user-pass,
#user-login{
  padding: 0 20px;
  .form-text{
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .form-submit{
    color: #fff;
    background: $primary-color;
    &:hover{
      background: $primary-color-darker;
    }
  }
}
.user_account,
.list_of_projects{
  .body-content{
    display: table;
    width: 100%;
    margin-bottom: 50px;
  }
}