header{
  background: #fff;
  min-height: 90px;
  .logo{
    .navbar-toggle{
      margin-top: 30px;
      border: 1px solid #f3f3f3;
      .icon-bar{
        background: #000;
      }
    }
  }
  #main-menu{
    margin-top: 15px;
    li {
      a{
        color: #777;
        font-size: 16px;
        &:hover{
          color: $primary-color;
          background: none;
        }
      }
      &.active{
        a{
          color: $primary-color;
        }
      }
    }
  }
  .header-social-networks{
    .btn-social{
      display: inline-block;
      img{
        width: 30px;
      }
    }
    @media(min-width:768px){
      float: right;
      margin-top: 26px;
      margin-left: 20px;
    }
    @media(max-width:767px){
      margin: 15px 0;
      text-align: center;
      .btn-social{
        img{
          width: 40px;
        }
      }
    }
  }
}