.node-swappsproject.full,
.swappsproject_node_list,
.node-swappsproject.teaser{
  background: #fff;
  padding: 20px;
  border-bottom: 1px dashed #d8d4d4;
  &:last-child{
    border-bottom: 0;
  }
  h2{
    a{
      color: #333;
    }
    &:after{
      content: '';
      width: 40px;
      height: 3px;
      display: block;
      margin-top: 10px;;
      background: $primary-color;
      margin-bottom: 20px;
    }
  }
  img{
    width: 100%;
    display: block;
    height: auto;
  }
  .field-name-swappsproject-url,
  .field-name-swappsproject-client,
  .field-name-swappsproject-image,
  .field-name-swappsproject-client-name,
  .field-name-swappsproject-country{
    margin-bottom: 10px;
    .field-label{
      display: none;
    }
  }
  .username{
    color: $primary-color-darker;
  }
  .entry-meta{
    margin-top: 10px;
    .date{
      margin-right: 10px;
      .fa{
        margin-right: 5px;
        color: #ccc;
      }
    }
    .author{
      .fa{
        margin-right: 2px;
        color: #ccc;
      }
    }
  }
}
.swappsproject_node_list,
.node-swappsproject.teaser{
  margin-top: 20px;
}
.node-swappsproject.teaser{
  .links.inline{
    li{
      a{
        color: $primary-color-darker;
      }
    }
  }
}