.node-swappsproject.full,
.swappsproject_node_list,
.node-swappsproject.teaser{
  background: #fff;
  padding: 20px;
  border-top: 2px solid $primary-color;
  //border-bottom: 2px solid $primary-color;
  h2{
    a{
      color: #333;
    }
    &:after{
      content: '';
      width: 40px;
      height: 3px;
      display: block;
      margin-top: 10px;;
      background: $primary-color;
      margin-bottom: 20px;
    }
  }
  img{
    width: 100%;
    display: block;
    height: auto;
  }
  .field-name-swappsproject-url,
  .field-name-swappsproject-client,
  .field-name-swappsproject-image,
  .field-name-swappsproject-client-name,
  .field-name-swappsproject-country{
    margin-bottom: 10px;
  }
  .username{
    color: $primary-color-darker;
  }
}
.swappsproject_node_list,
.node-swappsproject.teaser{
  margin-top: 20px;
}
.node-swappsproject.teaser{
  .links.inline{
    li{
      a{
        color: $primary-color-darker;
      }
    }
  }
}